*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  :root{
    --bg-color:#001;
    --second-bg-color:#112;
    --text-color:#fff;
  
  }
  html{
    font-size: 62,5%;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar{
    width: 15px;
  
  }
  ::-webkit-scrollbar-thumb{
    background-color: crimson;
    width: 40px;
  }
  body{
    background:  var(--bg-color);
    color: var(--text-color);
  }
  section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
  }
  header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 9%;
    background:rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: all 0.3 ease;
  
  }
  .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  .logo a span {
    color: crimson;
    transition: all 0.3s ease;
  }
  .menu{
    display: flex;
  }
  button{
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: none;
    line-height: normal;
    overflow: visible;
  }
  button span{
    color: #fff;
  
  }
  menu li{
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: #fff;
  }
  li>a>button{
    position: relative;
    display: grid;
    place-content: center;
    grid-template-areas: stack;
    padding:  0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
  
  }
  li>a>button>span{
    transition: all 300ms ease-in-out;
    grid-template-areas: stack;
  }
  li>a>button>span:last-of-type {
    margin-top: 0.25rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
  }
  li>a>button:focus-visible>span:first-of-type,
  li>a>button>:hover>span>:first-of-type {
    transform:scale(0);
  }
  li>a>button:focus-visible>span:last-of-type,
  li>a>button>:hover>span>:last-of-type {
    transform:scale(1.2);
    color: crimson;
  }
  .menu a{
    font-size: 1.4rem;
      font-weight: 500;
      margin: 4rem;
      transition: all 0.3s ease;
      border-bottom: 3px solid transparent;
  }
  .home{
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
  }
  .home-img img{
    width: 25vw;
    margin-left: 100px;
    border: 3px solid crimson;
    border-radius: 51% 49% 48% 52%  / 49% 49% 51% 51%;
    animation: borderAninmation 5s linear infinite;
  
  }
  
  @keyframes borderAninmation{
    0%{border-radius: 51% 49% 48% 52%  / 49% 49% 51% 51%;}
    35%
    {border-radius: 60% 40% 57% 43%  / 40% 54% 46% 60%;}
    65%
    {border-radius: 67% 33% 68% 32%  / 27% 70% 30% 73%;}
    100%
    {border-radius: 51% 49% 48% 52%  / 49% 49% 51% 51%;}
  } 
  .featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    margin-bottom: -200px;
    flex-direction: column;
    width: 60%;
  }
  .featured-text .hello{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: var(--text-color);
  }
    .futured-nome{
      font-size: 50px;
      font-weight: 600;
      color: crimson;
      margin-block: 20px;
      margin-bottom: 10px;
    }
  #SLiderValue{
    display: flex;
    font-family: sans-serif;
    color: crimson;
    font-size: 70px;
    font-weight: 600;
  
  }
  .start{
    opacity: 0;
  }
  .animation{
    animation: fade .3s forwards;
  }
  @keyframes fade{
  0%{
   opacity: 0;
   transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
   }
  }
  
  .holder-animation {
    animation: holder 4s;
  }
  
  @keyframes holder {
    0%{
      opacity: 1;
    }
  
    95%{
      opacity: 1;
    }
  
    100%{
      opacity: 0;
    }
  }
  .featurd-text-info{
    font-size: 16px;
    margin-bottom: 30px;
  
  }
  .social-icons{
    display: flex;
    flex-direction: row;
    margin-left: -5px;
    gap: 32px;
  }
  .social-icons i{
    color: #ddd;
    font-size: 16px;
    background-color: transparent;
    margin: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 1px 5px 3px crimson;
    border-radius: 50%;
    transition: 0.5s;
  }
  .social-icons i:hover{
    transform: scale(1.5);
  }
  .about{
    background-color: #111;
    min-height: 50vh;
  }
  .about-conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
  
  }
  .title-h1{
    color: #fff;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
  
  }
  .about p{
    color: #fff;
    margin: 1.5rem 0;
    font-size: 20px;
  }
  .about-social{
    margin-top: 10px;
    margin-bottom: 25px;
  
  }
  .about-social i{
    color: crimson;
    background-color: transparent;
    font-size: 16px;
    margin: 5px;
    height: 55px;
    width: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    border: 1.5px solid crimson;
    transition: 0.5s;
  }
  .about-social i:hover{
    transform: scale(1.5);
  border: 2px solid crimson;
  }
  .bnt-b{
    display: inline-block;
    background: crimson;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid crimson;
    color: #fff;
    transition: all 0.3s ease;
  }
  .bnt-b:hover{
    color: crimson;
    background: none;
  }
  .services{
    color: #fff;
    background: #001;
  
  }
  .heading{
    text-align: center;
    font-size: 3.5rem;
  }
  .sevices-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .sevices-list div {
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    border: 2px solid crimson;
  }
  .sevices-list div i{
    font-size: 50px;
    margin-bottom: 30px;
  
  }
  .sevices-list h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
  
  }
  .sevices-list div a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
  
  }
  .sevices-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
  }
  .portifolio-condent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px auto));
    gap:2.3rem;
    margin-top: 4.2rem;
    align-items: center;
  
  }
  .row{
    background: var(--second-bg-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px crimson;
    padding: 20px;
    transition: all 0.3s ease;
  }
  .row-img{
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
  
  }
  .main-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .row h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
  }
  .row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    background: crimson;
    color: var(--text-color);
  
  }
  .row h5 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  .row:hover{
    border: 1px solid crimson;
    transform: translateY(-5px) scale(1);
    cursor: pointer;
    
  }
  .contato h2{
    margin-bottom: 3rem;
  }
  .contato form{
    max-width: 90rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  .contato form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contato form .input-box input,
  .contato form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 1px solid crimson;
    margin: 0.7rem 0;
    border-radius: 0.8rem;
    background: transparent;
    resize: none;
  }
  .contato form .input-box input,
  .contato form textarea:hover{
    border: 1px solid crimson;
  
  }
  .contato form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
  }
  .contato .bnt{
    margin-top: 2rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;
  }
  .contato .bnt:hover{
    background: none;
    
  }